<a href="https://colab.research.google.com/github/FVallejo1601/DataScienceEcosystem.ipynb/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages used for Data Science  
- Identify commonly used libraries and tools  
- Demonstrate basic arithmetic expressions in Python  
- Create and format Markdown cells  
- Share notebooks publicly via GitHub

Some of the popular languages that Data Scientists use are:
1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools       |
|--------------------------|
| Jupyter Notebooks        |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers

( 3 * 4 ) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

( 200 / 60 )

3.3333333333333335

## Author: Fernando Vallejo